@(form: Form[Application.ChangePassword])

<html>
    <head>
        <title>E-Karo</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        
        <header>
            <a href="@routes.Projects.index" id="logo"><span>E-</span>Karo</a>
        </header>
        
        @helper.form(routes.Application.authenticateChangePassword) {
            
            <h1>Sign in</h1>
            
            @if(form.hasGlobalErrors) { 
                <p class="error">
                    @form.globalError.message
                </p>
            }
            
            @if(flash.contains("success")) {
                <p class="success">
                    @flash.get("success")
                </p>
            }
            
            <p>
                <input type="username" name="username" placeholder="Username" value="@form("username").value">
            </p>
            <p>
                <input type="password" name="oldPassword" placeholder="Old Password">
            </p>
            <p>
                <input type="password" name="newPassword1" placeholder="New Password">
            </p>
            <p>
                <input type="password" name="newPassword2" placeholder="New Password">
            </p>
            <p>
                <button type="submit">Change Password</button>
            </p>
            Do not want to change password? Go back to <a href="@routes.Projects.index" id="home"> homepage </a> here!           
        }
        
            
    </body>
</html>
    


