@(institution : Institution, users: List[User])

<html>
<head>
<title>E-Karo - Users</title>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link rel="stylesheet" type="text/css" media="screen"
	href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>

	<header>
		<a href="@routes.Projects.index" id="logo"><span>E-</span>Karo</a>
	</header>

	<h1>Welcome @institution.name!</h1>
	<ul>

		@display(user:models.User) = { @user.email (@user.username)}
		 @for( user <- users) {
		  @if(user.role.equals('I')){
		<ol>@display(user)
		</ol>
		}
		}
	</ul>
</body>
</html>



